<div class="container">
  <div class="calculator">
    <div class="calculator--display">{{ expression }}</div>
    <div class="calculator--keys">
      <button (click)="onButtonClick($event)" class="operator plus">
        &plus;
      </button>
      <button (click)="onButtonClick($event)" class="operator minus">
        &minus;
      </button>
      <button (click)="onButtonClick($event)" class="operator times">
        &times;
      </button>
      <button (click)="onButtonClick($event)" class="operator divide">
        &div;
      </button>
      <button (click)="onButtonClick($event)" class="number one">1</button>
      <button (click)="onButtonClick($event)" class="number two">2</button>
      <button (click)="onButtonClick($event)" class="number three">3</button>
      <button (click)="onButtonClick($event)" class="number four">4</button>
      <button (click)="onButtonClick($event)" class="number five">5</button>
      <button (click)="onButtonClick($event)" class="number six">6</button>
      <button (click)="onButtonClick($event)" class="number seven">7</button>
      <button (click)="onButtonClick($event)" class="number eight">8</button>
      <button (click)="onButtonClick($event)" class="number nine">9</button>
      <button (click)="onButtonClick($event)" class="number zero">0</button>
      <button (click)="onButtonClick($event)" class="number decimal">
        &middot;
      </button>
      <button (click)="onButtonClick($event)" class="number clear">C</button>
      <button (click)="onButtonClick($event)" class="eq">&equals;</button>
    </div>
  </div>
</div>
<ng-container *ngIf="keyPress$ | async"></ng-container>
