<div class="container">
  <div class="calculator">
    <div class="calculator--display">0</div>
    <div class="calculator--keys">
      <button class="operator plus">&plus;</button>
      <button class="operator minus">&minus;</button>
      <button class="operator times">&times;</button>
      <button class="operator divide">&div;</button>
      <button class="number one">1</button>
      <button class="number two">2</button>
      <button class="number three">3</button>
      <button class="number four">4</button>
      <button class="number five">5</button>
      <button class="number six">6</button>
      <button class="number seven">7</button>
      <button class="number eight">8</button>
      <button class="number nine">9</button>
      <button class="number zero">0</button>
      <button class="number decimal">&middot;</button>
      <button class="number clear">C</button>
      <button class="eq">&equals;</button>
    </div>
  </div>
</div>
